/* 
----------
RESET
---------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
----------
DEBUG
---------- */

.debug .container-header{
    background-color: white;
}

/* 
----------
TYPO
---------- */

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}


/* 
----------
COMMON
---------- */
header{
    width: 80vw;
    margin: 0 auto;
    background-color: #b4d0e7;
}


/* 
----------
HEADER
---------- */

.header-box ul{
    list-style: none;
    display: flex;
}

.container-header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 80vw;
}

/* Jumbotron */

.jumbotron{
    padding-top: 105px;
    width: 60%;
}

.title{
    margin-bottom: 75px;
}

.jumbotron-columns{
    display: flex;
}

.jumbotron-columns .header-first-column{
    width: 30%;
}

.jumbotron-columns .header-second-column{
    width: 70%;
    height: 460px;
}
/* 
----------
MAIN
---------- */


/* 
----------
FOOTER
---------- */