/* 
----------
RESET
---------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
----------
DEBUG
---------- */

.debug .container-header{
    background-color: aqua;
}

/* 
----------
TYPO
---------- */



/* 
----------
COMMON
---------- */
header{
    width: 80vw;
    margin: 0 auto;
}


/* 
----------
HEADER
---------- */

.header-box ul{
    list-style: none;
    display: flex;
}

.container-header{
    display: flex;
    justify-content: space-between;
}

/* 
----------
MAIN
---------- */


/* 
----------
FOOTER
---------- */