/* 
----------
RESET
---------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
----------
DEBUG
---------- */

.debug .container-header{
    background-color: white;
}

/* 
----------
TYPO
---------- */

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 60px;
    font-weight: 900;
}

h2{
    font-size: 35px;
}
h4{
    font-size: 17px;
    font-weight: 100;
}


/* 
----------
COMMON
---------- */
header{
    margin: 0 auto;
    background-color: #b4d0e7;
}

.button{
    color: white;
    background-color: #0061ff;
    border: 1px solid transparent;
}

.button-two{
    color: black;
    background-color: white;
    border: solid black 1.7px;
    margin: 30px 0;
}

.button-two, .button{
    padding: 10px 15px;
}

.button:hover{
    background-color: white;
    color: #0061ff;
    border: 1px solid #0061ff;
}

/* 
----------
HEADER
---------- */

.header-box ul{
    list-style: none;
    display: flex;
    height: 80px;
}

.header-box ul li{
    padding: 0 20px; 
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}

.header-box ul .link:hover{
    border-bottom: solid #0061ff;
    border-width: 2px;
}

.container-header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-box{
    display: flex;
    align-items: center;
}


/* Jumbotron */

.jumbotron{
    padding-top: 140px;
    width: 60%;
    margin: 0 auto;
}

.title{
    width: 90%;
}

.jumbotron-columns{
    display: flex;
    margin-top: -40px;
}

.jumbotron-columns .header-first-column{
    width: 30%;
    margin-top: 80px;
}

.jumbotron-columns .header-second-column{
    width: 70%;
}

.header-second-column img{
    width: 100%;
    position: relative;
    bottom: -80px;
}

.jumbotron-columns .header-first-column .jumbo-button{
    margin: 20px 0;
}

.fa-arrow-down{
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 50px;
}
/* 
----------
MAIN
---------- */
.select-plans{
   margin: 0 auto; 
   width: 50%;
}

.business-title{
    margin-top: 140px;
}

.business-title{
    margin-bottom: 55px;
}

.plan-choice{
    margin-right: 45px;
}

.main-colums{
    position: relative;
    padding-top: 80px;
    display: flex;
}

.plans{
    display: flex;
    margin-top: 40px;
}

.plans div ul li{
    list-style: none;
}

.plans >div{
    margin-bottom: 30px;
}

.l-column, .r-column, .c-column{
    width: calc(100%/3);
    border: solid #d0d0d3 1px;
}

.content{
    padding: 0 30px;
}
.c-column{
    margin: 0 50px;
}

.plans div hr{
    width: 30%;
    color: #d0d0d3;
    height: 1px;
    margin: 40px 0;
}

.plans div ul li{
    margin: 30px 0;
    font-size: 15px;
    display: flex;
}

.minititle-plans{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid #d0d0d3 1px;
}

.plans div div h3{
    margin: 20px 0 10px 0;
}

.infos{
    min-height: 250px;
}

.payment-option{
    color: #66666b;
    margin-top: 10px;
}
.acquista-ora{
    margin: 30px 0;
}
.team{
    width: 50%;
    margin: 0 auto;
}
.team-minititle{
    display: flex;
    justify-content: center;
    border: solid #d0d0d3 1px;
    padding: 10px 0;
}

.team-content{
    padding: 30px;
    border-right: solid #d0d0d3 1px;
    border-left: solid #d0d0d3 1px;
    border-bottom: solid #d0d0d3 1px;
}

.plans div strong{
    font-size: 17px;
}
.fa-solid{
    margin-right: 5px;
}
.fa-check{
    color: #0061ff;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 800;
}

/* ENTERPRISE BOX */

.enterprice-box{
    display: flex;
    justify-content: space-between;
}

.enterprice-text{
    margin-top: 40px;
}

.left-content h3{
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: sans-serif;
}

/* SEZIONE PARTNER */

.partner{
    display: flex;
    width: 50%;
    margin: 130px auto;
}

.partner-img{
    width: 100%;
    max-height: 510px;
    max-width: 597px;
}

.partner-rcolumn{
    padding-top: 50px;
    padding-left: 40px;
    width: 50%;
    height: 510px;
}

.partner-rcolumn h4{
    margin-top: 15px;
}

.button-two:hover{
    background-color: white;
    color: #0061ff;
    border: solid #0061ff 1.7px;
}

/* SEZIONE più operazioni */

.operazioni{
    width: 50%;
    margin: 0 auto;
}


.features-img{
    width: 100%;
}

.features{
    width: calc(100%/3 - 45px);
}

.colonne-operazioni{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.operazioni h2{
    margin-bottom: 50px;
}

.features h4{
    margin-top: 30px;
}
.title-main{
    margin-top: 215px;
    margin-bottom: 65px;
}

/* SEZIONE QUADRATI */

.quadrati{
    width: 100%;
    margin: 150px 0 auto;
}

.designit{
    background-color: #a2d39b;
}

.arizona{
    background-color: #61082b;
}

.florida{
    background-color: #0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.world{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.lonely{
    background-color: #0d2481;
}

.clear{
    background-color: #ffd830;
}

.clear, .lonely, .designit, .arizona, .florida, .topps, .world, .hearst{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.sezioni-main{
    display: flex;
}

.left-column, .right-column, .center-column{
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3);
    height: calc();
}

section div div div img{
    width: 40%;
    justify-content: center;
}

.center-column{
    padding: 50px;
    background-color: #f5f5f5;
    display: block;
}


.center-column h4{
    margin: 50px 0;
}

.fa-registered{
    font-size: 15px;
    position: relative;
    bottom: 40px;
}

.center-column hr{
    background-color: #d0d0d3;
    height: 1px;
    border: none;
    width: 20%;
    margin: 50px 0;
}

/* LAST-BOX MAIN */

.lastbox-main{
    width: 100%;
    background-color: #b4d0e7;
}

.inner-box{
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.business{
    color: #61082b;
    padding: 135px 0;
    width: 50%;
    font-size: 40px;
}

.button-box{
    padding: 20px 35px;
    background-color: #ffffff;
    color: black;
    border: none;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: solid #b4d0e7 1.7px;
}

.button-box:hover{
    color: #0061ff;
    border: solid #0061ff 1.7px;
}

/* 
----------
FOOTER
---------- */


/* DOMANDE FREQUENTI */
.domande-frequenti{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 140px;
}

.domande-frequenti h2{
    margin: 130px 100px 50px 0;
}

.faq{
    padding: 25px 0;
    border-top: solid #999999 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq strong{
    font-size: 17px;
}

.fa-angle-down{
    font-size: 10px;
    padding-right: 40px;
}

/* FOOTER MENU */

.bottom-footer{
    color: white;
    background-color: black;
    padding: 110px 110px 55px;
}

.menus{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 100px;
    width: 80%;
}

.menu-title{
    margin-bottom: 40px;
    font-size: 25px;
}

.menus div ul{
    list-style: none;
}

.menus div ul li{
    margin: 20px 0;
    font-size: 17px;
}

.bottom-footer hr{
    width: 8%;
    margin: 110px 0 50px 10%;
    border: none;
    height: 1px;
    background-color: white;
}

.lingua{
    margin-left: 10%;
    color: #999999;
}

.fa-earth-americas {
    margin-right: 10px;
}

.fa-sort-up{
    margin-left: 10px;
    position: relative;
    top: 4px;
    font-size: 10px;
}
/* FONT RICORDA DI AGGIUNGERE: Open Sans google fonts*/